body{
background-color: 000;
 margin-top : 0px;
 text-align: center;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
     -moz-background-size: 100% auto; 
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto; 
 color:#fff;
}
div{
font-size:25px;


}
