body {
background: url(https://github.com/GooseFabr/GooseFabr.github.io/blob/main/img/fon.png?raw=true); 
 text-align: justify;
 margin-top : 0px;
 color:#fff;
 font-size:20px;
}
@font-face {
  font-family: 'Golos Text_DemiBold';
  src: url('GooseFabr.github.io/font/Golos Text_DemiBold.ttf') format('truetype');
}
